# Backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/.env

# Backend generated data
backend/data/combined/*.csv

# Frontend
frontend/node_modules/
frontend/dist/

# OS / Editor
.DS_Store
.vscode/

# Environment variables
.env